{% extends "base/main.html" %} 
{% block title %}{{object.title|truncatechars:20}}{% endblock title %}
{%block content %}

  <!-- -------------------------------------------------------------------------------------------------------  -->

      <div class="flex justify-start items-center px-10 py-10 bg-blue-300">
        <a href="{% url "mande:index" %}" class="w-10 h-10 bg-blue-500 flex justify-center items-center rounded shadow print:hidden">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
          </svg>
        </a>
        <h1 class="text-capitalize text-blue-800 text-center text-xl md:text-2xl lg:text-4xl font-bold px-5">{{object.title | title }}</h1>
        </div>
        <hr/>

  <!-- -------------------------------------------------------------------------------------------------------  -->
  <div class="p-10">
      <ul class="list-unstyled font-medium">
        <li><span class="font-bold pr-3">Sector:</span>{{object.sector}}</li>
        <li><span class="font-bold pr-3">Location:</span>{{object.location.district | title }}- {{object.location.province | title }}</li>
        <li><span class="font-bold pr-3">Donor:</span>{{object.donor | upper }}</li>
        <li><span class="font-bold pr-3">Duration:</span>{{object.start_date}} - {{object.end_date}}</li>
      </ul>

  </div>

  <!-- -------------------------------------------------------------------------------------------------------  -->
 <hr/>

  <!-- Beneficiary Category-->
  <!-- -------------------------------------------------------------------------------------------------------  -->
<div class="row">
  <p class="col-3 fs-4">Beneficiary Category:</p>
  <div class="col-9">
    {% if object.idp == True %}
    <p class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">IDP</p>
    {% endif %}
    {% if object.idp_returnee == True %}
    <p class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">IDP/Returnee</p>
    {% endif %}
    {% if object.refugee == True %}
    <p class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">Refugee</p>
    {% endif %}
    {% if object.host == True %}
    <p class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">Host</p>
    {% endif %}
    {% if object.kochi == True %}
    <p class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">Kochi</p>
    {% endif %}

  </div>
</div>

<hr />
  <!-- -------------------------------------------------------------------------------------------------------  -->
  <!-- Beneficiary compositions -->

  <div class="row">
    <div class="col-3 fs-4">Beneficiary compositions:</div>
    <div class="col-9">
      {% if object.male %}
      <span class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">Male</span>
      {% endif %}
      {% if object.female %}
      <span class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">Female</span>
      {% endif %}
      {% if object.childern %}
      <span class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">Childern</span>
      {% endif %}
      {% if object.plw %}
      <span class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">PLW</span>
      {% endif %}
      {% if object.pwd %}
      <span class="badge text-bg-primary rounded m-1 px-5 fs-4 py-3 font-monospace">PWD</span>
      {% endif %}
     
    </div>
  </div>
  <hr/>
  <!-- -------------------------------------------------------------------------------------------------------  -->
<!-- Status of the Project -->
  <div class="bg-primary-subtle rounded p"> 
      OVERALL STATUS:
      <span class="fs-5">
      {{object.get_overall_Status_display}}
    </span>
  </div>
  <!-- -------------------------------------------------------------------------------------------------------  -->


<hr/>


  <!-- -------------------------------------------------------------------------------------------------------  -->


  <!-- -------------------------------------------------------------------------------------------------------  -->



{% endblock content %}
