{% extends 'base/main.html' %} {% block title %}About{% endblock title %}
{%block content %}
<div class="container mt-5">
  <div class="row container">
    <div class="col-sm-12 col-md-6">
      <h1 class="text-center">
        About Afghan Community and Health Rehabilitation Organization
      </h1>
      <p class="lead text-center">Empowering Communities, Restoring Health</p>
      <hr />
      <p>
        The Afghan Community and Health Rehabilitation Organization (ACHRO) is a
        non-profit organization dedicated to improving healthcare access and
        community well-being in Afghanistan. Founded in [year], ACHRO has been
        at the forefront of providing essential healthcare services,
        rehabilitation programs, and community development initiatives.
      </p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>
        <span class="h1 fw-bold"> Our Mission</span> is to empower individuals
        and communities through comprehensive healthcare services, education,
        and sustainable development projects. We believe in fostering a culture
        of health and resilience, where every individual has the opportunity to
        lead a healthy and fulfilling life.
      </p>
      <p>ACHRO's core values include:</p>
      <ul>
        <li>Compassion and empathy towards all individuals</li>
        <li>Commitment to excellence in healthcare delivery</li>
        <li>Collaboration and partnership with local communities</li>
        <li>Integrity and transparency in all our operations</li>
      </ul>
      <p>
        At ACHRO, we are driven by a vision of a healthier, more equitable
        Afghanistan. We work tirelessly to address the healthcare needs of
        vulnerable populations, promote health education, and build sustainable
        healthcare systems for the future.
      </p>
      <p>
        Join us in our journey to create a healthier and more resilient
        Afghanistan!
      </p>
    </div>
  </div>
</div>
{% endblock content %}
