{% extends "base/main.html" %} 
{% load static %} 
{% block title %}Home{% endblock title %} {%block content %}

<section>
  <div
    class="relative mx-auto max-w-[1000px] mt-12 lgrounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg"
  >
    <div class="bg-white p-7 rounded-md">
      <img class="w-full" src="{% static 'img/logo.png' %}" alt="LOGO" />

      <h1 class="font-bold text-3xl pt-4 mb-2">
        Afghan Community And Health Rehabilitation Organization
      </h1>
      <p class="text-justify">
        The Afghan Community And Health Rehabilitation Organization's DBMS
        software is an exceptional tool designed to optimize internal operations
        and boost employee productivity. With intelligent features and unique
        customization options, this software enables managers to efficiently
        manage employee information, and execute administrative tasks swiftly
        and effectively. Empowering staff members to concentrate on their core
        responsibilities, it ensures smooth and flawless organizational
        operations simultaneously.
      </p>
    </div>
  </div>
</section>

{% endblock %}
