{% extends "base/main.html" %} {% block title %} Home {% endblock title %}
{%block content %}
<div
  class="grid grid-cols-1 gap-8 gap-x-8 gap-y-8 sm:grid-cols-1 lg:grid-cols-2 items-center"
>
  <!-- left side -->
  <div class="m-auto">
    <h1 class="text-2xl font-bold capitalize pt-3 pb-2 px-3 text-center">
      Afghan Community And Health Rehabilitation Organization
    </h1>
    <p class="text-justify px-2 py-2">
      The Afghan Community And Health Rehabilitation Organization's DBMS
      software is an exceptional tool designed to optimize internal operations
      and boost employee productivity. With intelligent features and unique
      customization options, this software enables managers to efficiently
      manage employee information, and execute administrative tasks swiftly and
      effectively. Empowering staff members to concentrate on their core
      responsibilities, it ensures smooth and flawless organizational operations
      simultaneously.
    </p>
  </div>

  <!-- right side form-->
  <div class="bg-blue-200 rounded-lg mx-10 shadow">
    <form class="p-5">
      <div class="form-floating mb-3">
        <label for="floatingInput">Email address</label>
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
      </div>
      <div class="form-floating mb-3">
        <label for="floatingPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign up
      </button>
      <small class="text-body-secondary"
        >By clicking Sign up, you agree to the terms of use.</small
      >
    </form>
  </div>
</div>
{% endblock %}
